services:
  plantsensorpage:
    build: ./PlantSensorPage
    restart: unless-stopped
    hostname: plantsensorpage
    ports:
      - 8000:8000
    environment:
      - DB_HOST=192.168.178.60
      - DB_PORT=5432
      - DB_NAME=test_sensor
      - DB_USER=postgres
      - DB_PASS=database
  plantsensorpoller:
    privileged: true
    network_mode: "host"
    ipc: "host"
    build: ./PlantSensorPoller
    restart: unless-stopped
    hostname: plantsensorpoller
    ports:
      - 8001:8001
    devices:
      - /dev/ttyAMA0:/dev/ttyAMA0
    volumes:
      - /var/run/dbus/:/var/run/dbus/:z
    environment:
      - DB_HOST=192.168.178.60
      - DB_PORT=5432
      - DB_NAME=test_sensor
      - DB_USER=postgres
      - DB_PASS=database
      - BLE_ADAPTER=hci1