<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch sensor data</title>
    <script src="{{ url_for('static', filename='plotly.min.js') }}"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            padding: 10px 20px;
            font-size: 18px;
            margin: 10px;
            cursor: pointer;
        }
        #result {
            margin-top: 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Do you want to fetch MACs or fetch Data</h1>

    <button onclick="triggerAction(1)">moisture</button>
    <button onclick="triggerAction(2)">light</button>
    <button onclick="triggerAction(3)">temperature</button>
    <button onclick="triggerAction(4)">conductivity</button>
    <button onclick="triggerAction(5)">battery</button>

    <div id="result"></div>
    <div id="chart_one"></div>
    <div id="chart_two"></div>

    <script>
        var graph = JSON.parse('{{ graph_one_json | safe }}');
        Plotly.newPlot('chart_one', graph);
    </script>


    <script>
        function triggerAction(buttonNumber) {
            let endpoint;
            switch (buttonNumber) {
                case 1:
                    endpoint = '/button1';
                    break;
                case 2:
                    endpoint = '/button2';
                    break;
                case 3:
                    endpoint = '/button3';
                    break;
                case 4:
                    endpoint = '/button4';
                    break;
                case 5:
                    endpoint = '/button5';
                    break;
            }
            fetch(endpoint, {method: 'POST'})
            .then(response => response.json())
            .then(data => {
            // Update message
            document.getElementById('result').textContent = data.message;

            // Parse the Plotly graph data and plot it
            var graph = JSON.parse(data.graph);
            Plotly.newPlot('chart_two', graph.data, graph.layout);
        })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
